.bgs {
    background: radial-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("assets/images/bgs.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-size: cover;
}

input.transparent-input{
    background-color:transparent !important;
    border:wheat 5px;
 }